/* Teksto šriftų įkėlimas */

@font-face {
    font-family: "AlbertSans";
    src: url(Fonts/AlbertSans.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(Fonts/Roboto.ttf);
}

@font-face {
    font-family: "OpenSans";
    src: url(Fonts/OpenSans.ttf);
}

@font-face {
    font-family: "AzeretMono";
    src: url(Fonts/AzeretMono.ttf);
}
