/* Teksto šriftų įkėlimas */

@font-face {
    font-family: "AlbertSans";
    src: url(Fonts/AlbertSans.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(Fonts/Roboto.ttf);
}

@font-face {
    font-family: "OpenSans";
    src: url(Fonts/OpenSans.ttf);
}

@font-face {
    font-family: "AzeretMono";
    src: url(Fonts/AzeretMono.ttf);
}

/* Viso puslapio bendra konfiguracija. Įprastas teksto šriftas, spalva ir tt.*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* Kodas susijęs su sekcijomis, jų animacijomis.*/

.section {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    background: url("Images/background.jpg");
}

.seperator {
    background: #111111;
    height: 10vh;
    width: 100%;
    display: flex;
}

/* Naršymo juosta */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgb(53, 62, 66);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-weight: 700;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    font-family: "AzeretMono", sans-serif;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .3s;
}

.navbar a:hover::after {
    transform: scaleX(1);
}

.dishList {
    display: flexbox;
    margin-top: 120px;
}

.dish {
    display: flex;
    margin: 0 0 25px 800px;
    justify-content: left;
}

.dishName {
    font-family: "NotoSerif", sans-serif;
    margin: 0;
}

.popularTag {
    opacity: 0.7;
    margin: 0 0 15px 0;
    background-color: rgb(247, 46, 46);
    color: white;
    font-family: "OpenSans", sans-serif;
    width: 70px;
    padding: 3px;
    border-radius: 10px;
    margin-right: 5px;
}

.newTag {
    opacity: 0.7;
    margin: 0 0 15px 0;
    background-color: rgb(247, 46, 46);
    color: white;
    font-family: "OpenSans", sans-serif;
    width: 68px;
    padding: 3px;
    border-radius: 10px;
    margin-right: 5px;
}

.birthdayTag {
    opacity: 0.7;
    margin: 0 0 15px 0;
    background-color: rgb(195, 36, 216);
    color: white;
    font-family: "OpenSans", sans-serif;
    width: 108px;
    padding: 3px;
    border-radius: 10px;
    margin-right: 5px;
}

.dishImg {
    height: 175px;
    height: 175px;
    border-radius: 8px;
    margin-left: 15px;
}

.dishCost {
    font-size: 20px;
    padding: 3px;
    border-radius: 3px;
    width: 40px;
    display: flex;
    margin: 5px 0 0 10px;
    font-family: "OpenSans", sans-serif;
}

.dishDesc {
    font-family: "OpenSans", sans-serif;
    color: #3a3a3a;
    margin: 0 0 2px 0;
}

.dishTags {
    display: flex;
}

.menuCategory {
    display: flex;
    justify-content: center;
    font-family: "OpenSans", sans-serif;
}

.hrSeperator {
    border: none;
    height: 5px;
    width: 65px;
    border-radius: 2px;
    /* Set the hr color */
    color: #333;  /* old IE */
    background-color: #333;  /* Modern Browsers */
    margin: 5px auto 25px auto;
}