/* Teksto šriftų įkėlimas */

@font-face {
    font-family: "AlbertSans";
    src: url(Fonts/AlbertSans.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(Fonts/Roboto.ttf);
}

@font-face {
    font-family: "OpenSans";
    src: url(Fonts/OpenSans.ttf);
}

@font-face {
    font-family: "AzeretMono";
    src: url(Fonts/AzeretMono.ttf);
}

/* Viso puslapio bendra konfiguracija. Įprastas teksto šriftas, spalva ir tt.*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth !important;
}

/* Kodas susijęs su sekcijomis, jų animacijomis.*/

.section {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    background: url("Images/background.jpg");
}

.seperator {
    background: #111111;
    height: 10vh;
    width: 100%;
    display: flex;
}

/* Naršymo juosta */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgb(53, 62, 66);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-weight: 700;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    font-family: "AzeretMono", sans-serif;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .3s;
}

.navbar a:hover::after {
    transform: scaleX(1);
}

/* Apie aprašymo sekcija. */

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll !important;
    height: 100vh;
}

.aboutDivs {
    margin: 450px 350px 75px 150px;
    background: linear-gradient(135deg, rgba(59, 59, 59, 0.574), rgba(41, 41, 41, 0.574));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 10;
    color: white;
    border-radius: 15px;
    height: 500px;
    align-items: center;
    margin: 80px 30px 150px 30px;
    width: 100vh;
    max-height: 350px;
    font-size: 16px;
    font-family: "OpenSans", sans-serif;
}

.aboutTop {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    font-size: 32px;
    background-color: #131313;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    opacity: 0.9;
    height: 70px;
}

#aboutTitle {
    background-image: linear-gradient(135deg, rgb(155, 125, 28), rgb(224, 202, 101), rgb(167, 140, 23));
    -webkit-background-clip: text;
    color: transparent;
    font-family: "AlbertSans", sans-serif;
}

.aboutBottom {
    display: flex;
    justify-content: space-between;
    font-weight: 550;
    font-family: "Roboto", sans-serif;
}

#aboutImg {
    border-radius: 10px;
    width: 500px;
    height: 200px;
    margin: 0 20px;
}

/* Kontakų sekcija. */

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll !important;
    height: 100vh;
}

.contactDivs {
    margin: 450px 350px 75px 150px;
    background: linear-gradient(135deg, rgba(59, 59, 59, 0.574), rgba(41, 41, 41, 0.574));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 10;
    color: white;
    border-radius: 15px;
    height: 500px;
    align-items: center;
    margin: 80px 30px 20px 30px;
    width: 100vh;
    max-height: 350px;
    padding: 0;
}

.contactTop {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    font-size: 32px;
    background-color: #131313;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    opacity: 0.9;
    height: 70px;
}

#contactTitle {
    background-image: linear-gradient(135deg, rgb(155, 125, 28), rgb(224, 202, 101), rgb(167, 140, 23));
    -webkit-background-clip: text;
    color: transparent;
}

.contacts {
    display: flexbox;
}

.contactBottom {
    display: flex;
    margin: 0;
    vertical-align: middle;
}

#contactBook {
    border-radius: 10px;
    width: 500px;
    height: 200px;
    margin: 0 20px 0 0;

}

.contactLine {
    display: flex;
    height: 30px;
    vertical-align: middle;
    margin: 20px 510px 20px 15px;
    cursor: pointer;
}

.contactText {
    font-weight: 500;
    font-family: "AzertMono", sans-serif;
    font-size: 20px;
    margin-top: 13px;
}

.contactIcon {
    height: 45px;
    margin-right: 10px;
}

/* Lokacijos sekcija. */



/* Javascript kodas: */

.displayTrue {
    display: block;
}

.displayFalse {
    display: none;
}

/* Kortelių visuma: */

.categoryDivs {
    position: relative;
    display: flexbox;
}

.galleryCardsRow1 {
    display: flex;
    margin-top: 85px;
}

.galleryCardsRow2 {
    display: flex;
}

/* Galerijos kortelė: */

#galleryCard {
    position: relative;
    width: 320px;
    height: 450px;
    background: #000000;
    border-radius: 20px;
    overflow: hidden;
    margin: 20px 30px;
    color: #fff;
}

#galleryCard:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

#galleryCard .galleryContent .galleryDesc {
    color: #000000;
    margin: 5px 0 15px 0;
}

#galleryCard:hover:before {
    clip-path: circle(300px at 80% 20%);
}

#galleryCard:hover {
    color: #000000;
}

#galleryCard:after {
    position: absolute;
    top: 30%; 
    left: -20%;
    font-size: 8em;
    font-weight: 800;
    font-style: italic;
    text-align: center;
}

#galleryCard .galleryImg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    width: 100%;
    height: 220px;
    transition: 0.4s;
}

#galleryCard:hover .galleryImg {
    top: 0%;
    transform: translateY(0%);
}

#galleryCard .galleryImg img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    height: 150px;
}

#galleryCard .galleryContent {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 0.5s;
    z-index: 100; 
    margin-bottom: 40px;
}

#galleryCard:hover .galleryContent {
    height: 220px;
}

#galleryBtn {
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 3px;
    color: rgb(17, 17, 17);
    transition: 0.5s;
    border: #000000 3px solid;
    padding: 6px 12px;
    border-radius: 15px;
    font-size: 1.3em;
    font-family: "AlbertSans", sans-serif;
    font-weight: 650;
}

#galleryBtn:hover {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

#testing {
    bottom: 0;
    right: 0;
    position: fixed;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin: 0 40px 35px 0;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(255, 46, 46);
    border: none;
}

#mailForm {
    background-color: #1d1d1d;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 40px 100px 0;
    display: flexbox;
    height: 650px;
    width: 400px;
    border-radius: 15px;
    color: white;
}

#mailTop {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 32px;
    background-color: #131313;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    opacity: 0.9;
    height: 40px;
    padding: 5px;
    font-weight: 650;
}

#mailTitle {
    background-image: linear-gradient(135deg, rgb(155, 125, 28), rgb(224, 202, 101), rgb(167, 140, 23));
    -webkit-background-clip: text;
    color: transparent;
    font-family: "AlbertSans", sans-serif;
    font-size: 25px;
}

.mailSubtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 650;
    margin: 7px 0 7px 20px;
    font-size: 20px;
}

.mailInputName {
    background-color: #000000;
    color: #fff;
    margin: 0 0 0 20px;
    padding: 10px 20px 10px 20px;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    width: 235px;
}

.mailInputEmail {
    background-color: #000000;
    color: #fff;
    margin: 0 0 0 20px;
    padding: 10px 20px 10px 20px;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    width: 300px;
}

.mailInputText {
    background-color: #000000;
    color: #fff;
    margin: 0 0 0 20px;
    padding: 10px 20px 10px 20px;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 280px;
    resize: none;
}

.mailInputName::placeholder,
.mailInputEmail::placeholder,
.mailInputText::placeholder{
    background-image: linear-gradient(135deg, rgb(155, 125, 28), rgb(224, 202, 101), rgb(167, 140, 23));
    -webkit-background-clip: text;
    color: transparent;
    font-family: "AlbertSans", sans-serif;
    font-weight: 650;
}

#mailSend {
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 5px;
    color: rgb(17, 17, 17);
    transition: 0.5s;
    border: #000000 3px solid;
    padding: 6px 12px;
    border-radius: 15px;
    font-size: 1.3em;
    font-family: "AlbertSans", sans-serif;
    font-weight: 650;
    margin: 15px 0 0 20px;
    width: 120px;
    height: 40px;
    cursor: pointer;
}

#mailSend:hover {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}


.locationDivs {
    margin: 450px 350px 75px 150px;
    background: linear-gradient(135deg, rgba(59, 59, 59, 0.574), rgba(41, 41, 41, 0.574));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 10;
    color: white;
    border-radius: 15px;
    height: 500px;
    align-items: center;
    margin: 80px 30px 150px 30px;
    width: 100vh;
    max-height: 350px;
    font-size: 16px;
    font-family: "OpenSans", sans-serif;
}

.locationTop {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 32px;
    background-color: #131313;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    opacity: 0.9;
    height: 70px;
}

#locationTitle {
    background-image: linear-gradient(135deg, rgb(155, 125, 28), rgb(224, 202, 101), rgb(167, 140, 23));
    -webkit-background-clip: text;
    color: transparent;
    font-family: "AlbertSans", sans-serif;
}

.locationBottom {
    display: flex;
}

#locationImg {
    border-radius: 10px;
    width: 500px;
    height: 200px;
}

#locationText {
    font-size: 30px;
    font-weight: 550;
    font-family: "OpenSans", sans-serif;
    width: 800px;
    margin: 20px 300px 0 0;
}

