/* Fonts import into CSS file */
@font-face {
    font-family: 'AlbertSans';
    src: url(../Fonts/AlbertSans.ttf);
}

@font-face {
    font-family: 'LibraSerif';
    src: url(../Fonts/LibraSerif.otf);
}

/* General styling*/
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'LibraSerif';
    /* background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url('fonas.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
    min-height: 100vh;
    background-color: #E9E2D9E5;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 30px;
    margin: 40px 0 20px 0;
    text-align: center;
    color: #846B5F;
}

/* Header styling */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    width: 75px;
    margin: 0;
}

header h1 {
    margin: 15px 0 20px 0;
}

/* Navigation bar styling */
nav {
    display: flex;
    gap: 15px;
    font-size: 1.2em;
}

nav a {
    font-weight: bold;
}

/* Menu section styling*/
.menuDiv {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: white;
    border-radius: 15px;
    width: calc(25% - 13.33px);
    /* width: calc(25% - 15px); 4 items in a row instead of 3*/
    min-height: 350px;
    word-break: break-word;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#menuItems {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
}

.menuImg {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 10px;
}

.menuName, .menuDesc {
    padding: 0 15px;
}

.menuName {
    margin: 10px 0;
    font-size: 1.2em;
}

.menuDesc {
    margin: 0 0 15px 10px;
    font-size: 0.9em;
    font-family: 'AlbertSans';
}

.menuPrice {
    margin: 0 10px 20px 25px;
    font-family: 'AlbertSans';
    font-weight: bold;
    color: #424242;
}

.menuBtn {
    background: none;
    border-radius: 5px;
    border: 1px solid #886b60;
    color: #886b60;
    font-size: 1em;
    font-weight: 500;
    padding: 8px 15px;
    margin: auto 15px 15px 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.menuBtn:hover {
    background-color: #886b60;
    color: white;
}

/* Bakery description styling */
.descDiv {
    display: flex;
}

.descItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
}

.descItem {
    display: flex;
    margin-bottom: 35px;
    background-image: url(../Photographic/Images/Brush1.png);
    background-size: 100% 100%;
    background-position: left center;
    background-repeat: no-repeat;
    background-position: right center;
    width: 800px;
    height: 230px;
    padding: 25px 0 0 240px;
    gap: 50px;
}

#descItem2 {
    transform: scaleX(-1);
}

#descItem2 > * {
    transform: scaleX(-1);
}

.descImg {
    width: 300px;
}

.descItem img {
    width: 220px;
    height: 220px;
}

.descItem p {
    font-family: 'AlbertSans';
    font-size: 16px;
}

/* Information section styling */
#infoDivs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 25px 0;
    width: 100%;
    gap: 50px;
    font-family: 'AlbertSans', sans-serif;
}

.infoTitle {
    font-family: 'LibraSerif', sans-serif;
    color: #846B5F;
}

#infoTitle {
    margin: 0 0 10px 0;
}

.infoLabel, .infoPhone {
    margin: 0 0 3px 0;
}

/* Scaling to apply to device screen size */
@media (max-width: 1200px) {
    .menuDiv {
        width: calc(50% - 10px);
    }
}

@media (max-width: 800px) {
    .menuDiv {
        width: 100%;
    }
}